<p>
  Привет, рады видеть тебя, {{ name }}!
</p>
<p>
  Подтвердите свой адрес электронной почты в Lagooon.
</p>
<p>
  {{ token }}
</p>
<p>
  Если Вы не отправляли запрос на подтверждение адреса, просто проигнорируйте это письмо.
</p>
<p>
  С уважением,
</p>
<p>
  Команда Lagooon.
</p>