<!DOCTYPE html>
<html  lang="ru">
<head>
  <title></title>
</head>
<body>
Здравствуйте!
<br/><br/>
Чтобы сбросить пароль от аккаунта %EMAIL% для входа в приложение Lagooon, перейдите по ссылке ниже.
<br/><br/>
${{ url }}
<br/><br/>
Если Вы не отправляли запрос на сброс пароля, просто проигнорируйте это письмо.
<br/><br/>
С уважением,
<br/><br/>
команда Lagooon.
</body>
</html>
