<p>Здравствуйте!</p>
<p>
  Чтобы сбросить пароль от аккаунта {{email}} для входа в приложение Lagooon, введите код указанный ниже.
</p>
<p>
  {{ token }}
</p>
<p>
  Если Вы не отправляли запрос на сброс пароля, просто проигнорируйте это письмо.
</p>
<p>
  С уважением,
</p>
<p>
  Команда Lagooon.
</p>