<p>Здравствуйте!</p>
<br /><br />
<p>
  Чтобы сбросить пароль от аккаунта %EMAIL% для входа в приложение Lagooon, перейдите по ссылке ниже.
</p>
<br /><br />
<p>
  ${{ url }}
</p>
<br /><br />
<p>
  Если Вы не отправляли запрос на сброс пароля, просто проигнорируйте это письмо.
</p>
<br /><br />
<p>
  С уважением,
</p>
<br /><br />
<p>
  команда Lagooon.
</p>